#define IDD_DIALOG                      1000
#define IDD_SECTION                     1001
#define IDD_NEW_SECTION                 1002
#define IDD_OPTIONAL_HEADER             1003
#define IDD_FILE_HEADER                 1004

#define IDC_LIST                        2000
#define IDC_SECTION_NAME                2001
#define IDC_VIRTUAL_SIZE                2002
#define IDC_VIRTUAL_OFFSET              2003
#define IDC_RAW_SIZE                    2004
#define IDC_RAW_OFFSET                  2005
#define IDC_CHARACTERISTICS             2006
#define IDC_OK                          2007
#define IDC_HEADER                      2008
#define IDS_STATUS                      2009
#define IDI_ICON                        2010
#define IDC_NEW_SECTION                 2011
#define IDC_LOAD_SECTION                2012
#define	IDB_CHECKSUM			2013
#define	IDC_INT3				2014


#define IDC_ADDRESSOFENTRYPOINT         3000
#define IDC_IMAGEBASE                   3001
#define IDC_SECTIONALIGNMENT            3002
#define IDC_FILEALIGNMENT               3003
#define IDC_SIZEOFIMAGE                 3004
#define IDC_SIZEOFHEADER                3005
#define IDC_CHECKSUM                    3006
#define IDC_SUBSYSTEM                   3007
#define IDC_MACHINE                     3008
#define IDC_NUMBEROFSECTIONS            3009
#define IDC_TIMEDATESTAMP               3010
#define IDC_POINTERTOSYMBOLTABLE        3011
#define IDC_NUMBEROFSYMBOLS             3012
#define IDC_SIZEOFOPTIONALHEADER        3013
#define IDC_CHARACTERISTIC              3014


IDD_DIALOG DIALOGEX DISCARDABLE  0, 0, 420, 100
STYLE DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "Tahoma"
BEGIN
    PUSHBUTTON      "Open",IDC_OK,360,7,50,14,0,WS_EX_STATICEDGE
    PUSHBUTTON      "Header",IDC_HEADER,360,24,50,14,0,WS_EX_STATICEDGE
    PUSHBUTTON      "Exit",IDCANCEL,360,41,50,14,0,WS_EX_STATICEDGE
    CONTROL         "List",IDC_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL |
            LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,7,7,344,75
END

IDD_SECTION DIALOGEX 0, 0, 345, 82
STYLE DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP
FONT 8, "Tahoma"
BEGIN
    PUSHBUTTON      "Save",IDC_OK,230,62,50,14,0,WS_EX_STATICEDGE
    PUSHBUTTON      "Cancel",IDCANCEL,289,62,50,14,0,WS_EX_STATICEDGE
    GROUPBOX        "Section Details",IDC_STATIC,7,7,331,50
    LTEXT           "Section Name",IDC_STATIC,16,19,52,12
    LTEXT           "Characteristics",IDC_STATIC,16,39,52,12
    LTEXT           "Virtual Size",IDC_STATIC,126,19,52,12
    LTEXT           "Virtual Address",IDC_STATIC,126,39,52,12
    LTEXT           "Raw Size",IDC_STATIC,238,19,52,12
    LTEXT           "Raw Offset",IDC_STATIC,238,39,52,12
    EDITTEXT        IDC_SECTION_NAME,69,18,40,10,ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_CHARACTERISTICS,69,38,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_VIRTUAL_SIZE,180,18,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_VIRTUAL_OFFSET,180,38,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_RAW_SIZE,282,18,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_RAW_OFFSET,282,38,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
END

IDD_NEW_SECTION DIALOGEX 0, 0, 294, 91
STYLE DS_MODALFRAME | WS_POPUP
FONT 8, "Tahoma"
BEGIN
    PUSHBUTTON      "OK",IDC_OK,237,7,50,14,0,WS_EX_STATICEDGE
    PUSHBUTTON      "Cancel",IDCANCEL,237,24,50,14,0,WS_EX_STATICEDGE
    CONTROL         "Add New Section",IDC_NEW_SECTION,"Button",BS_AUTORADIOBUTTON,125,15,89,8
    CONTROL         "Load Section from Disk",IDC_LOAD_SECTION,"Button",BS_AUTORADIOBUTTON,125,26,89,8
    GROUPBOX        "",IDC_STATIC,6,3,220,82
    LTEXT           "Name",IDC_STATIC,15,17,34,8
    LTEXT           "Characteristics",IDC_STATIC,15,32,48,8
    LTEXT           "Virtual Size",IDC_STATIC,15,51,43,8
    LTEXT           "Virtual Offset",IDC_STATIC,15,66,44,8
    LTEXT           "Raw Size",IDC_STATIC,125,51,34,8
    LTEXT           "Raw Offset",IDC_STATIC,125,66,39,8
    EDITTEXT        IDC_SECTION_NAME,66,15,40,10,ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_CHARACTERISTICS,66,30,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_VIRTUAL_SIZE,66,49,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_VIRTUAL_OFFSET,66,64,40,10,ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_RAW_SIZE,172,49,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_RAW_OFFSET,172,64,40,10,ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER,WS_EX_STATICEDGE
END

IDD_OPTIONAL_HEADER DIALOGEX 0, 0, 306, 98
STYLE DS_MODALFRAME | WS_POPUP
FONT 8, "Tahoma"
BEGIN
    PUSHBUTTON      "Save",IDC_OK,192,78,50,14,0,WS_EX_STATICEDGE
    PUSHBUTTON      "Cancel",IDCANCEL,248,78,50,14,0,WS_EX_STATICEDGE
    PUSHBUTTON      "Calculate",IDB_CHECKSUM,200,40,40,11,0,WS_EX_STATICEDGE
    GROUPBOX        "IMAGE_OPTIONAL_HEADER",IDC_STATIC,6,3,292,70
    LTEXT           "EntryPoint",IDC_STATIC,15,16,68,8
    LTEXT           "ImageBase",IDC_STATIC,15,29,68,8
    LTEXT           "SectionAlignment",IDC_STATIC,15,42,68,8
    LTEXT           "FileAlignment",IDC_STATIC,15,55,68,8
    LTEXT           "SizeOfImage",IDC_STATIC,153,16,68,8
    LTEXT           "SizeOfHeaders",IDC_STATIC,153,29,68,8
    LTEXT           "CheckSum",IDC_STATIC,153,42,40,9
    LTEXT           "Subsystem",IDC_STATIC,153,55,68,8
    EDITTEXT        IDC_ADDRESSOFENTRYPOINT,102,14,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_IMAGEBASE,102,27,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_SECTIONALIGNMENT,102,40,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_FILEALIGNMENT,102,53,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_SIZEOFIMAGE,246,14,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_SIZEOFHEADER,246,27,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_CHECKSUM,246,40,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_SUBSYSTEM,246,53,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    PUSHBUTTON      "INT 3",IDC_INT3,76,14,23,10,0,WS_EX_STATICEDGE    
END

IDD_FILE_HEADER DIALOGEX 0, 0, 305, 98
STYLE DS_MODALFRAME | WS_POPUP
FONT 8, "Tahoma"
BEGIN
    PUSHBUTTON      "Save",IDC_OK,192,78,50,14,0,WS_EX_STATICEDGE
    PUSHBUTTON      "Cancel",IDCANCEL,248,78,50,14,0,WS_EX_STATICEDGE
    GROUPBOX        "IMAGE_FILE_HEADER",IDC_STATIC,6,3,292,70
    LTEXT           "Machine",IDC_STATIC,15,16,72,8
    LTEXT           "NumberOfSections",IDC_STATIC,15,29,72,8
    LTEXT           "TimeDateStamp",IDC_STATIC,15,42,72,8
    LTEXT           "PointerToSymbolTable",IDC_STATIC,15,55,72,8
    LTEXT           "NumberOfSymbols ",IDC_STATIC,153,16,72,8
    LTEXT           "SizeOfOptionalHeader",IDC_STATIC,153,29,72,8
    LTEXT           "Characteristics",IDC_STATIC,153,42,72,8
    EDITTEXT        IDC_MACHINE,102,14,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_NUMBEROFSECTIONS,102,27,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_TIMEDATESTAMP,102,40,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_POINTERTOSYMBOLTABLE,102,53,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_NUMBEROFSYMBOLS,246,14,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_SIZEOFOPTIONALHEADER,246,27,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_CHARACTERISTIC,246,40,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
END

#define IDD_DATA_DIRECTORY	8100
#define IDC_EXPORT_RVA		8101
#define IDC_EXPORT_SIZE		8102
#define IDC_IMPORT_RVA		8103
#define IDC_IMPORT_SIZE		8104
#define IDC_RESOURCES_RVA	8105
#define IDC_RESOURCES_SIZE	8106
#define IDC_EXEPTION_RVA	8107
#define IDC_EXEPTION_SIZE	8108
#define IDC_SECURITY_RVA	8109
#define IDC_SECURITY_SIZE	8110
#define IDC_RELOC_RVA		8111
#define IDC_RELOC_SIZE		8112
#define IDC_DEBUG_RVA		8113
#define IDC_DEBUG_SIZE		8114
#define IDC_COPYRIGHT_RVA	8115
#define IDC_COPYRIGHT_SIZE	8116
#define IDC_TLS_RVA			8117
#define IDC_TLS_SIZE		8118
#define IDC_LOAD_RVA		8119
#define IDC_LOAD_SIZE		8120
#define IDC_BOUND_RVA		8121
#define IDC_BOUND_SIZE		8122
#define IDC_IAT_RVA			8123
#define IDC_IAT_SIZE		8124
#define IDC_DELAY_RVA		8125
#define IDC_DELAY_SIZE		8126
#define IDC_COM_RVA			8127
#define IDC_COM_SIZE		8128


IDD_DATA_DIRECTORY DIALOGEX 0, 0, 364, 140
STYLE DS_MODALFRAME | WS_POPUP
FONT 8, "Tahoma"
BEGIN
    PUSHBUTTON      "Save",IDOK,249,120,50,14,0,WS_EX_STATICEDGE
    PUSHBUTTON      "Cancel",IDCANCEL,307,120,50,14,0,WS_EX_STATICEDGE
    GROUPBOX        "IMAGE_DATA_DIRETORY's",IDC_STATIC,7,3,350,110
    CTEXT           "RVA",IDC_STATIC,90,11,40,8
    CTEXT           "Size",IDC_STATIC,134,11,40,8
    LTEXT           "Export Symbols",IDC_STATIC,16,23,70,8
    LTEXT           "Import Symbols",IDC_STATIC,16,35,70,8
    LTEXT           "Resources",IDC_STATIC,16,47,70,8
    LTEXT           "Exception",IDC_STATIC,16,59,70,8
    LTEXT           "Security",IDC_STATIC,16,71,70,8
    LTEXT           "Base Relocation",IDC_STATIC,16,83,70,8
    LTEXT           "Debug",IDC_STATIC,16,95,70,8
    LTEXT           "Copyright String",IDC_STATIC,190,23,70,8
    LTEXT           "Thread Local Storage",IDC_STATIC,190,35,70,8
    LTEXT           "Load Configuration",IDC_STATIC,190,47,70,8
    LTEXT           "Bound Import",IDC_STATIC,190,59,70,8
    LTEXT           "Import Address Table",IDC_STATIC,190,71,70,8
    LTEXT           "Delay Import",IDC_STATIC,190,83,70,8
    LTEXT           "COM Descriptor",IDC_STATIC,190,95,70,8
    CTEXT           "RVA",IDC_STATIC,264,11,40,8
    CTEXT           "Size",IDC_STATIC,308,11,40,8
    EDITTEXT        IDC_EXPORT_RVA,90,22,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_EXPORT_SIZE,134,22,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_IMPORT_RVA,90,34,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_IMPORT_SIZE,134,34,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_RESOURCES_RVA,90,46,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_RESOURCES_SIZE,134,46,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_EXEPTION_RVA,90,58,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_EXEPTION_SIZE,134,58,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_SECURITY_RVA,90,70,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_SECURITY_SIZE,134,70,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_RELOC_RVA,90,82,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_RELOC_SIZE,134,82,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_DEBUG_RVA,90,94,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_DEBUG_SIZE,134,94,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_COPYRIGHT_RVA,264,22,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_COPYRIGHT_SIZE,308,22,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_TLS_RVA,264,34,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_TLS_SIZE,308,34,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_LOAD_RVA,264,46,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_LOAD_SIZE,308,46,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_BOUND_RVA,264,58,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_BOUND_SIZE,308,58,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_IAT_RVA,264,70,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_IAT_SIZE,308,70,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_DELAY_RVA,264,82,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_DELAY_SIZE,308,82,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_COM_RVA,264,94,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    EDITTEXT        IDC_COM_SIZE,308,94,40,10,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
END


#define IDL_IMPORTS                     9000
#define IDD_IMPORTS 					9001
#define	IDC_COUNT						9002

IDD_IMPORTS DIALOGEX 0, 0, 342, 90
STYLE DS_MODALFRAME | WS_POPUP
FONT 8, "Tahoma"
BEGIN
    PUSHBUTTON      "Ok",1,284,7,50,14,0,WS_EX_STATICEDGE
    ;PUSHBUTTON      "Cancel",2,264,24,50,14,0,WS_EX_STATICEDGE
    ;EDITTEXT        IDC_COUNT,271,69,35,10,ES_AUTOHSCROLL | ES_READONLY | NOT 
    ;                WS_BORDER,WS_EX_STATICEDGE
    ;GROUPBOX        "Total",-1,264,59,50,26,WS_TABSTOP
    CONTROL         "",IDC_LIST,"SysListView32",LVS_REPORT | 
                    WS_BORDER | WS_TABSTOP,7,7,266,76
END

IDI_ICON        ICON DISCARDABLE "ICON.ICO"